---
# Set defaults for the guests based on the KVM host
- name: Use KVM host architecture for VMs when not specified
  set_fact:
    virt_infra_architecture: "x86_64"
  when:
    #- inventory_hostname not in groups['kvmhost']
    - inventory_hostname !="kvmhost"
    - virt_infra_architecture is not defined

- name: Use KVM host domain for VMs when not specified
  set_fact:
    virt_infra_domainname: "marc.local"
  when:
    #- inventory_hostname not in groups['kvmhost']
    - inventory_hostname !="kvmhost"
    - virt_infra_domainname is not defined
